<%- include('../partials/header') %>

<section id="show-page">
    <div>Title: </div>
    <div><%= book.title %></div>
    <br>
    <div>Author: </div>
    <div><%= book.author %></div>
    <br>
    <div>Publish Year: </div>
    <div><%= book.publishYear %></div>
    <br>
    <div>Genre: </div>
    <div><%= book.genre %></div>
    <br>
    <div>Description: </div>
    <div><%= book.description %></div>
</section>
    <!-- ratings -->
    <br><br><h2>Ratings</h2>
    <form id="add-rating-form" method="POST" action="/books/<%= book._id %>/ratings">
        <label>Rating:</label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10" selected>10</option>
        </select>
        <input type="submit" value="Rate the book">
    </form>

    <% if (book.ratings.length) { %>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
            <% let total = 0 %>
            <% book.ratings.forEach(function(r) { %>
                <% total += r.rating %>
                <tr>
                    <td><%= r.createdAt.toLocaleDateString() %></td>
                    <td><%= r.rating %></td>
                </tr>
            <% }); %>
            <tr>
                <td colspan="2"></td>
                <td><strong><%= (total / book.ratings.length).toFixed(1) %></strong></td>
            </tr>
            </tbody>
        </table>
    <% } else { %>
        <h5>No Ratings Yet</h5>
    <% } %>

<%- include('../partials/footer') %>